<div class="col-lg-6" ng-init="logSelection = 'activities'">
    <div class="panel panel-default">
        <!-- Header of the Panel -->
        <div class="panel-heading">
            <ul class="nav nav-pills">
                <li class="active" ng-class="{active: logSelection=='activities'}"><a aria-expanded="true" data-toggle="tab"
                                                                       ng-click="logSelection = 'activities'">Activity Log</a>
                </li>
                <li ng-class="{active: logSelection=='dataobject'}"><a aria-expanded="true" data-toggle="tab"
                                                                       ng-click="logSelection = 'dataobject'">Dataobject Log</a>
                </li>
                <li ng-class="{active: logSelection=='attributes'}"><a aria-expanded="true" data-toggle="tab"
                                                                       ng-click="logSelection = 'attributes'">Attribute Log</a>
                </li>
                <li class="pull-right"><button type="button" class="btn btn-default btn-xs" aria-expanded="false" data-toggle="collapse" data-target="#logs-collapse"><i class="fa fa-chevron-down"></i></button></li>
            </ul>

            <!-- ./nav tabs options -->
        </div>
        <!-- ./ heading -->
        <!-- Body of the Panel -->
        <div class="panel-body" id="logs-collapse">
            <div class="tab-content">

                <small>Here you find the log of {{logSelection}} for this instance.</small>
                <br>
                <div ng-switch on="logSelection">
                    <!-- depending of the option of the dropdown: here display activity log -->
                    <div ng-switch-default>
                        <div ng-repeat="entry in instanceCtrl.instanceDetails.activitylogs track by $index">
                            <h4 class="text-success">{{entry['label']}}</h4>
                            <span ng-show="entry['oldValue'].length">{{entry['oldValue']}}</span>
                            <span ng-hide="entry['oldValue'].length"><i>no state</i></span>
                            <i class="fa fa-long-arrow-right"></i>
                            <span ng-show="entry['newValue'].length">{{entry['newValue']}}</span>
                            <span ng-hide="entry['newValue'].length"><i>no state</i></span>
                            <div class="pull-right">{{entry['timeStamp']}} <i
                                    class="fa fa-check-square-o text-success"></i></div>
                        </div>
                    </div>
                    <!-- ./switch case -->
                    <!-- depending of the option of the dropdown: here display dataobject log -->
                    <div ng-switch-when="dataobject">
                        <div ng-repeat="entry in instanceCtrl.instanceDetails.dataobjectlogs track by $index">
                            <h4 class="text-success">{{entry['label']}}</h4>
                            <span ng-show="entry['oldValue'].length">{{entry['oldValue']}}</span>
                            <span ng-hide="entry['oldValue'].length"><i>no state</i></span>
                            <i class="fa fa-long-arrow-right"></i>
                            <span ng-show="entry['newValue'].length">{{entry['newValue']}}</span>
                            <span ng-hide="entry['newValue'].length"><i>no state</i></span>
                            <div class="pull-right">{{entry['timeStamp']}} <i
                                    class="fa fa-check-square-o text-success"></i></div>
                        </div>
                    </div>
                    <!-- ./switch case -->
                    <!-- depending of the option of the dropdown: here display attribute log -->
                    <div ng-switch-when="attributes">
                        <div ng-repeat="entry in instanceCtrl.instanceDetails.dataobjectAttributelogs track by $index">
                            <h4 class="text-success">{{entry['label']}}</h4>
                            <span ng-show="entry['oldValue'].length">{{entry['oldValue']}}</span>
                            <span ng-hide="entry['oldValue'].length"><i>empty</i></span>
                            <i class="fa fa-long-arrow-right"></i>
                            <span ng-show="entry['newValue'].length">{{entry['newValue']}}</span>
                            <span ng-hide="entry['newValue'].length"><i>empty</i></span>
                            <div class="pull-right">{{entry['timeStamp']}} <i
                                        class="fa fa-check-square-o text-success"></i></div>
                        </div>
                    </div>
                    <!-- ./switch case -->
                </div>
                <!-- ./switch container -->
            </div>
            <!-- ./tab content -->
        </div>
        <!-- ./modal body -->
    </div>
    <!-- ./ hpanel -->
</div>
<!-- ./ col-lg-6 -->