<div ng-repeat="activityInstance in instanceCtrl.instanceDetails.activityInstances['running'] track by $index"
     id="{{'modalTerminate' + activityInstance['id']}}" class="modal fade">
    <!--div class="modal-backdrop fade in"></div-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line "></div>
            <!-- Header of the Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Terminate activity?</h4>
            </div>
            <!-- /.modal header -->
            <!-- Body of the Modal -->
            <div class="modal-body">
            	<div class="model-header">
            		<div ng-show="(instanceCtrl.activityOutput[activityInstance['id']] | json) == '{}'">
            			No Data Object for Output available.
            		</div>
            		<div ng-hide="(instanceCtrl.activityOutput[activityInstance['id']] | json) == '{}'">
	               		Please select a state for each output.
	            	</div>
            	</div>
            	<div ng-repeat="(dataclassName, output) in instanceCtrl.activityOutput[activityInstance['id']] track by $index">
            		<b>{{dataclassName}}[{{output['state']}}]:</b>
            		<!-- if outputsets are present display them with the option for termination -->
	                <div ng-if="output['states'].length !== 0">
	                    <div class="panel">
	                        <div class="panel-body form-group">
	                            <!-- <label for="{{'select' + dataclassName}}">{{dataclassName}}</label> -->
	                            <select class="form-control" id="{{'select' + dataclassName}}"
	                                    ng-model="lestate"
	                                    ng-init="lestate=output['states'][0]; instanceCtrl.selectState(dataclassName, lestate)"
	                                    ng-options="state for state in output['states']"
	                                    ng-change="instanceCtrl.selectState(dataclassName, lestate)">
	                            </select>
	                        </div>
	                    </div>
	                </div>
	                <!-- display all attributes and let the user edit them -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="attr in output.attributeConfiguration">
                            <td>{{attr['name']}}</td>
                            <td><input type="text"
                                       ng-name="attrvalue"
                                       ng-model-options='{ debounce: 1000 }'
                                       ng-model="attr['value']"
                                       ng-change="instanceCtrl.setAttributeTransition(dataclassName, attr['name'], attr['value'])">
                                <br></td>
                        </tr>
                        <!--
                        <tr ng-if="output[attributeConfiguration].length !== 0">
                        	<td>No Data Attributes for this Data Class</td>
                        </tr>
                        -->
                        </tbody>
                    </table>
	        	</div>
            </div> <!-- /.modal body -->
            <!-- Footer of the Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="instanceCtrl.terminateActivity(activityInstance['id']);" data-dismiss="modal"
                        class="btn btn-danger">Terminate
                </button>
            </div>
            <!-- /.modal footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /. modal-dialog -->
</div><!-- /.modal -->