<div ng-repeat="activityInstance in instanceCtrl.instanceDetails.activityInstances['ready']"
     id="{{'modal' + activityInstance['id']}}" class="modal fade">
    <!--div class="modal-backdrop fade in"></div-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line "></div>
            <!-- Header of the Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{activityInstance['label']}}</h4>
            </div>
            <!-- ./ panel header -->
            <!-- Body of the Modal -->
            <div class="modal-body">
            	<div ng-if="instanceCtrl.availableInput[activityInstance['id']].length===0">
            		No Data Object for Input available.
            	</div>
                <div ng-repeat="(dclass, dobjects) in instanceCtrl.availableInput[activityInstance['id']]">
                    <div class="panel">
                        <div class="panel-header">
                            <h3 class="panel-title">{{dclass}}</h3>
                        </div>
                        <div class="panel-body form-group">
                            <select class="form-control"
                                    ng-model="obj"
                                    ng-init="obj=dobjects[0]; instanceCtrl.selectDataObject(dclass, obj.id, obj.attributeConfiguration)"
                                    ng-options="dobject as dobject.id for dobject in dobjects"
                                    ng-change="instanceCtrl.selectDataObject(dclass, obj.id, obj.attributeConfiguration)"
                            ></select>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="attr in obj.attributeConfiguration">
                                <td>{{attr['name']}}</td>
                                <td>{{attr['value']}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.modal body -->
            <!-- Footer of the Modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="instanceCtrl.beginActivity(activityInstance['id']);" data-dismiss="modal"
                        class="btn btn-primary">Begin
                </button>
            </div>
            <!-- /.modal footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->