<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            Data Object States
        </div>
        <div class="panel-body" style="overflow: auto">
            <div class="pull-left">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Dataclass</th>
                        <th>State</th>
                        <th>Locked</th>
                        <th>Inspect</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dataobject in instanceCtrl.instanceDetails.dataobjects">
                        <td>{{dataobject['id']}}</td>
                        <td>{{dataobject['dataclass']}}</td>
                        <td>{{dataobject['state']}}</td>
                        <td>{{dataobject['locked']}}</td>
                        <td><a type="button" data-toggle="modal"
                               ng-click=""
                               data-target="{{'#modalInspectDataobject' + dataobject['id']}}"><i
                                class="fa fa-search"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>