<div class="col-lg-6">
    <div class="panel panel-default">
        <!-- Header of the Panel -->
        <div class="panel-heading">
            Case Conditions
            <button ng-if="instanceCtrl.instanceDetails.canTerminate" ng-click="instanceCtrl.terminateInstance();"
        		data-dismiss="modal" class="taskcompleted btn btn-danger">
           		<a ng-href="#/scenario/{{instanceCtrl.instanceDetails['scenario_id']}}"
            	style="color:white;">Terminate</a>
       		</button>
        </div>
        <!-- Body of the Panel -->
        <div class="panel-body">
            <div class="pull-left">
                <table class="table table-striped">
                    <tbody>
                    <!-- displaying the termination conditions -->
                    <tr ng-repeat="(key, value) in instanceCtrl.scenario['terminationcondition']['conditions'] track by $index">
                        <td>
                            Condition {{$index+1}}
                        </td>
                        <td>
                            <div ng-repeat="(key, value2) in value track by $index">
                                The dataobject "{{value2['data_object']}}" is in state "{{value2['state']}}".<br>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- ./modal body -->
    </div>
    <!-- ./ hpanel -->
</div>
<!-- ./ col-lg-6 -->