<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            Enabled Activities
        </div>
        <!-- Body of the Panel -->
        <div class="panel-body">
            <div class="pull-left">
                <table class="table">
                    <tbody>
                    <tr style="cursor: pointer"
                        ng-repeat="activityInstance in instanceCtrl.instanceDetails.activityInstances['ready']">
                        <td>
                            <div style="position: relative;">
                                <p>{{activityInstance['label']}}
                                    <input style="position: absolute; opacity: 0;">
                                    <ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0px none; opacity: 0;"
                                         ng-click="instanceCtrl.getActivityInput(activityInstance['id']);"
                                         data-toggle="modal"
                                         data-target="{{'#modal' + activityInstance['id']}}"
                                         tabindex="-1"></ins>
                                </p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- ./ class="responsive-table pull-left" -->
        </div>
        <!-- ./panel body -->
    </div>
    <!-- ./ hpanel -->
</div>
<!-- ./ col-lg-6 -->
