.idea
.idea/*
.classpath
.project
.settings
.checkstyle
*.class
*.iml
resources/database_connection
target/*
*~
/target/
src/main/resources/
config.properties
config_template.properties

# Ignore MacOS Finder files
.DS_Store

# Ignore Visual Studio Code related files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
