.idea
.idea/*
.classpath
.project
.settings
.checkstyle
*.class
*.iml
resources/database_connection
target/*
src/main/resources/META-INF/persistence.xml
*~
/target/
src/main/resources/
config.properties
config_template.properties