.idea
.idea/*
*.class
JEngine.iml
resources/database_connection
target/*
*~
src/main/webapp/asset/views/
src/main/webapp/asset/favicon.ico
src/main/webapp/asset/js/angular-route.min.js
src/main/webapp/asset/js/angular-route.min.js.map
src/main/webapp/asset/js/angular.min.js
src/main/webapp/asset/js/angular.min.js.map
