<!-- scenario details -->
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                <a type="button" data-toggle="modal" data-target="#createInstance"
                   class="btn btn-success btn-xs">
                    Start Instance
                </a>
                <!-- only provide the deletion feature for scenarios if there are not any instances available -->
                <span ng-hide="scenarioCtrl.currentScenario['instances']['ids'].length">
                          <a type="button" data-toggle="modal" data-target="#deleteScenario"
                             class="btn btn-danger btn-xs">
                              <i class="fa fa-trash-o"></i> Delete Scenario
                          </a>
                      </span>
            </div>
            <p>Scenario Details</p>
        </div>
        <!-- /. class="panel-heading hbuilt" -->
        <div class="panel-body">
            <!-- display Meta information about this scenario -->
            <div class="pull-left">
                <table class="table table-striped">
                    <tr>
                        <th>Scenario ID</th>
                        <th>{{"# " + scenarioCtrl.currentScenario['id']}}</th>
                    </tr>
                    <tr>
                        <th>Scenario Name</th>
                        <th>{{scenarioCtrl.currentScenario['details']['name']}}</th>
                    </tr>
                    <tr>
                        <th>Amount of active Cases</th>
                        <th>{{scenarioCtrl.currentScenario['instances']['ids'].length}}</th>
                    </tr>
                    <tr>
                        <th>Termination Condition</th>
                        <th>
                            <button class="btn btn-info btn-xs" type="button" data-toggle="modal"
                                    data-target="#terminationCondition">
                                Info
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th>Average Duration</th>
                        <th>{{scenarioCtrl.currentScenario['duration']}}</th>
                    </tr>
                </table>
            </div>
            <!-- /. class="responsive-table pull-left" -->
        </div>
        <!-- /. panel body -->
    </div>
</div>
<!-- /. class="col-lg-6 animated-panel zoomIn" -->