<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-right">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/scenario">Dashboard</a>
                    </li>
                    <li class="active">
                        <span>E-Mail Task Configuration</span>
                    </li>
                </ol>
            </div>
            <!-- /.  id="hbreadcrumb" -->
            <h2>
                E-Mail Task Configuration
            </h2>

        </div>
    </div>
</div> <!-- /. normalheader -->

<div>
    <mail-tasks></mail-tasks>
</div>
<!-- ___________________________ modals ___________________________ -->

<!-- 1. modal for editing a mail tasks -->
<modal-edit-mail-task></modal-edit-mail-task>


<!-- 2. modal for showing successful update -->
<modal-show-mail-update></modal-show-mail-update>
