<div>
    <div>
        <div class="panel-body">
            <a href="">
                <div>
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div class="pull-right">
                <ol class="breadcrumb">
                    <li><a ui-sref="scenario">Dashboard</a></li>
                    <li>
                        <a ui-sref="scenario({ id: instanceCtrl.instanceDetails['scenarioId'] })">Scenario</a>
                    </li>
                    </li>
                    <li class="active">
                        <span>Case {{instanceCtrl.instanceDetails['id']}}</span>
                    </li>
                </ol>
            </div>
            <!-- /. id="hbreadcrumb" -->
            <h2>
                Case {{instanceCtrl.instanceDetails['id']}} - {{instanceCtrl.instanceDetails['instance_name']}}
            </h2>
        </div>
        <!-- /. panel body -->
    </div>
    <!-- /. hpanel -->
</div>
<!-- /.normalheader -->

<div>
    <ng-include src="'templates/scenarioInstancePanels.html'"></ng-include>
</div>
