<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">
            <ol class="breadcrumb">
                <li><a href="#/scenario">Dashboard</a></li>
                <li>
                    <a ng-href="#/scenario/{{instanceCtrl.instanceDetails['scenarioId']}}">Scenario</a>
                </li>
                <li class="active">
                    <span>Case {{instanceCtrl.instanceDetails['id']}}</span>
                </li>
            </ol>
        </div>
        <h2>
            Case: {{instanceCtrl.instanceDetails['id']}} - {{instanceCtrl.instanceDetails['instance_name']}}
        </h2>
    </div>
    <!-- /. panel body -->
</div>
<!-- /.normalheader -->
<div>
    <div class="row">
        <!-- old Panel for Dataobjects -->
        <states-of-data></states-of-data>
        <!--  Panel for ToDos -->
        <open-tasks></open-tasks>

        <!-- Panel for unassigned Tasks -->
        <unassigned-tasks></unassigned-tasks>
    </div> <!-- ./ row -->

    <div class="row">
        <!-- Panel for all Logs via dropdown -->
        <logs></logs>

        <!-- Panel for termination condition -->
        <termination-condition></termination-condition>
    </div> <!-- ./ row -->
        
    <!-- div where bpmn io renders its fragments -->
    <div class="row panel panel-default" id="xmlContainer">
    </div>

    <!--___________________________________ MODALS ___________________________________-->
    <!-- modal for beginning an activity -->
    <modal-begin-activity></modal-begin-activity>

    <!-- A model as a dialog for terminating an activity -->
    <modal-terminate-activity></modal-terminate-activity>
</div>
