<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-right">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/scenario">Dashboard</a>
                    </li>
                    <li class="active">
                        <span>JUserManagement Control Panel</span>
                    </li>
                </ol>
            </div>
            <!-- /. id="hbreadcrumb" -->
            <h2>
                JUserManagement Control Panel
            </h2>

        </div>
        <!-- /. panel body -->
    </div>
</div>
<!-- /. normalheader -->

<div>

    <div class="row">
        <role-management></role-management>
        <user-management></user-management>
    </div>
    <!-- /. row -->
</div>
<!--___________________________________ MODALS ___________________________________-->
<!-- modal for deleting role -->
<modal-delete-role></modal-delete-role>

<!-- modal for updating role-->
<modal-update-role></modal-update-role>

<!-- modal for creating new role-->
<modal-create-role></modal-create-role>

<!-- modal for deleting user-->
<modal-delete-user></modal-delete-user>

<!-- modal for updating user-->
<modal-update-user></modal-update-user>

<!-- modal for creating new user-->
<modal-delete-user></modal-delete-user>
