<div class="normalheader transition animated fadeIn" ng-init="new_view = true;">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html#/scenario">Dashboard</a></li>
                    <li>
                        <a ng-href="index.html#/scenario/{{instanceCtrl.instanceDetails['scenario_id']}}/instance">Scenario</a>
                    </li>
                    </li>
                    <li class="active">
                        <span>Case {{instanceCtrl.instanceDetails['id']}}</span>
                    </li>
                </ol>
            </div>
            <!-- /. id="hbreadcrumb" -->
            <h2 class="font-light m-b-xs">
                Case {{instanceCtrl.instanceDetails['id']}} - {{instanceCtrl.instanceDetails['instance_name']}}
            </h2>

            <!-- let the user choose on the view layout -->
            Select a view:
            <a type="checkbox" ng-click="new_view = true" class="btn btn-default btn-xs"> New </a>
            <a type="checkbox" ng-click="new_view = false" class="btn btn-default btn-xs"> Old </a>
        </div>
        <!-- /. panel body -->
    </div>
    <!-- /. hpanel -->
</div>
<!-- /.normalheader -->

<div class="content animate-panel">
    <!-- in case user chooses new view we display it -->
    <div ng-show="new_view">
        <ng-include src="'asset/templates/views/new.html'"></ng-include>
    </div>
    <!-- /. ng-show="new_view" -->
    <!-- otherwise we display the old one -->
    <div ng-hide="new_view">
        <ng-include src="'asset/templates/views/old.html'"></ng-include>
    </div>
    <!-- /. ng-hide="new_view" -->


