<!-- A list of all scenarios duplicating the menu dropdown. We decided to remove it for now to avoid confusion; instead a bit of PR :D -->
<!--<h2>Scenarios</h2>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		Filter <input ng-model="searchText"/>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr style="cursor: pointer" ng-repeat="(key, value) in scenarioCtrl.scenarios['labels']" ng-show="!searchText || value.indexOf(searchText) > -1" ng-click="scenarioCtrl.goToDetailsFrom(key);">
					<td>{{key}}</td>
					<td>{{value}}</td>
			</tr>
			</a>
		</tbody>
	</table>
</div>-->

<h2>Das JTeam</h2>
<br><br>
<div class="row">
    <img alt="JEngine_Team" class="img-circle m-b" src="asset/images/JEngine_Team.JPG" width="40%" height="40%">
</div>

