<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="index.html#/">Dashboard</a>
                    </li>
                    <li class="active">
                        <span>JUserManagement Control Panel</span>
                    </li>
                </ol>
            </div>
            <!-- /. id="hbreadcrumb" -->
            <h2 class="font-light m-b-xs">
                JUserManagement Control Panel
            </h2>

        </div>
        <!-- /. panel body -->
    </div>
    <!-- /. hpanel -->
</div>
<!-- /. normalheader -->

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 1.5s;">
            <div class="hpanel stats">
                <div class="panel-heading hbuilt">
                    <div class="row">
                        <div style="animation-delay: 1.6s;" class="col-md-6 animated-panel zoomIn">
                            Role Management
                        </div>
                        <div style="animation-delay: 1.7s;" class="col-md-6 animated-panel zoomIn">
                            <input ng-model="searchText" placeholder="SearchTerm" class="form-control input-xs">
                        </div>
                    </div>
                    <!-- /.  row -->
                </div>
                <!-- /.  panel heading -->

                <div class="panel-body list">
                    <div class="pull-right">
                        <a type="button" data-toggle="modal"
                           ng-click="userMgmtC.setTypeRole(); userMgmtC.unsetWorkingID();"
                           data-target="#modalcreateRole" class="btn btn-default">
                            Create New Role
                        </a>
                    </div>
                    <div class="panel-title">Role</div>
                    <small class="fo">Modify or delete roles..</small>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Admin Id</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="cursor: pointer" ng-repeat="(key, value) in userMgmtC.Details['role']"
                                ng-show="!searchText || value['rolename'].indexOf(searchText) > -1">
                                <td>{{value['rolename']}}</td>
                                <td>{{value['description']}}</td>
                                <td>{{value['admin_id']}}</td>
                                <td><a type="button" class="btn btn-danger" data-toggle="modal"
                                       data-target="{{'#modalDeleteRole' + value['id']}}"><i class="fa fa-trash-o"></i></a>
                                    <a type="button" class="btn btn-info"
                                       ng-click="userMgmtC.getDetailsForRoleId(value['id']); userMgmtC.setTypeRole();"
                                       data-toggle="modal" data-target="{{'#modalUpdateRole' + value['id']}}"><i
                                            class="fa fa-paste"></i></a>
                            </tr>
                            </a>
                            </tbody>
                        </table>
                    </div>
                    <!-- /. class="table-responsive" -->
                </div>
                <!-- /. panel body -->
                <div class="panel-footer"></div>
            </div>
            <!-- /. hpanel -->
        </div>
        <!-- /. row -->
        <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 1.5s;">
            <div class="hpanel stats">
                <div class="panel-heading hbuilt">
                    <div class="row">
                        <div style="animation-delay: 1.6s;" class="col-md-6 animated-panel zoomIn">
                            User Management
                        </div>
                        <div style="animation-delay: 1.7s;" class="col-md-6 animated-panel zoomIn">
                            <input ng-model="searchText" placeholder="SearchTerm" class="form-control input-xs">
                        </div>
                    </div>
                    <!-- /.  row -->
                </div>
                <!-- /.  panel heading -->
                <div class="panel-body list">
                    <div class="pull-right">
                        <a type="button" data-toggle="modal"
                           ng-click="userMgmtC.setTypeUser(); userMgmtC.unsetWorkingID();"
                           data-target="#modalcreateUser" class="btn btn-default">
                            Create New User
                        </a>
                    </div>
                    <div class="panel-title">User</div>
                    <small class="fo">Modify or delete users..</small>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Role Id</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="cursor: pointer" ng-repeat="(key, value) in userMgmtC.Details['user']"
                                ng-show="!searchText || value['username'].indexOf(searchText) > -1">
                                <td>{{value['username']}}</td>
                                <td>{{value['description']}}</td>
                                <td>{{value['role_id']}}</td>
                                <td><a type="button" class="btn btn-danger" data-toggle="modal"
                                       data-target="{{'#modalDeleteUser' + value['id']}}"><i class="fa fa-trash-o"></i></a>
                                    <a type="button" class="btn btn-info"
                                       ng-click="userMgmtC.getDetailsForUserId(value['id']); userMgmtC.setTypeUser();"
                                       data-toggle="modal" data-target="{{'#modalUpdateUser' + value['id']}}"><i
                                            class="fa fa-paste"></i></a>
                            </tr>
                            </a>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel-footer"></div>
            </div>
            <!-- /. hpanel -->
        </div>
        <!-- /. class="col-lg-6 animated-panel zoomIn" -->
    </div>
    <!-- /. row -->

    <!--___________________________________ MODALS ___________________________________-->
    <!-- modal for deleting role -->
    <div ng-repeat="(key, value) in userMgmtC.Details['role']" id="{{'modalDeleteRole' + value['id']}}"
         class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete Role?</h4>
                </div>
                <!-- /.modal header -->
                <div class="modal-body">
                    <p>Do you want to delete the role "{{value['rolename']}}"?</p>
                </div>
                <!-- /. modal body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="userMgmtC.deleteRole(value['id']);" data-dismiss="modal"
                            class="btn btn-primary">Delete
                    </button>
                </div>
                <!-- /.modal footer -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- modal for updating role-->
    <div ng-repeat="(key, value) in userMgmtC.Details['role']" id="{{'modalUpdateRole' + value['id']}}"
         class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update Role?</h4>
                </div>
                <!-- /. modal header -->
                <div class="modal-body">
                    <form name="myForm" ng-submit="userMgmtC.submitMyForm()">
                        <input type="hidden" ng-model="form.id" ng-value="{{value['id']}}"/><br>
                        name:
                        <input type="text" ng-model="form.name"/><br>
                        description:
                        <input type="text" ng-model="form.description"/><br>
                        admin_id:
                        <input type="text" ng-model="form.admin_id"/><br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <!-- /.modal body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <!-- /. modal footer-->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- modal for creating new role-->
    <div id="modalcreateRole" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create New Role</h4>
                </div>
                <!-- /. modal header -->
                <div class="modal-body">
                    <form name="myForm" ng-submit="userMgmtC.submitMyForm()">
                        <input type="hidden" ng-model="form.id" value="0"/><br>
                        name:
                        <input type="text" ng-model="form.name"/><br>
                        description:
                        <input type="text" ng-model="form.description"/><br>
                        admin_id:
                        <input type="text" ng-model="form.admin_id"/><br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <!-- /. modal body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <!-- /. modal footer -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- modal for deleting user-->
    <div ng-repeat="(key, value) in userMgmtC.Details['user']" id="{{'modalDeleteUser' + value['id']}}"
         class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete User?</h4>
                </div>
                <!-- /. modal header -->
                <div class="modal-body">
                    <p>Do you want to delete the role "{{value['username']}}"?</p>
                </div>
                <!-- /. modal body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="userMgmtC.deleteUser(value['id']);" data-dismiss="modal"
                            class="btn btn-primary">Delete
                    </button>
                </div>
                <!-- /. modal footer -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- modal for updating user-->
    <div ng-repeat="(key, value) in userMgmtC.Details['user']" id="{{'modalUpdateUser' + value['id']}}"
         class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update User?</h4>
                </div>
                <!-- /. modal header -->
                <div class="modal-body">
                    <form name="myForm" ng-submit="userMgmtC.submitMyForm()">
                        <input type="hidden" ng-model="form.id" ng-value="{{value['id']}}"/><br>
                        name:
                        <input type="text" ng-model="form.name"/><br>
                        description:
                        <input type="text" ng-model="form.description"/><br>
                        role_id:
                        <input type="text" ng-model="form.role_id"/><br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <!-- /. modal body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <!-- /. modal footer-->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- modal for creating new user-->
    <div id="modalcreateUser" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create New User</h4>
                </div>
                <!-- /. modal header -->
                <div class="modal-body">
                    <form name="myForm" ng-submit="userMgmtC.submitMyForm()">
                        <input type="hidden" ng-model="form.id" value="0"/><br>
                        name:
                        <input type="text" ng-model="form.name"/><br>
                        description:
                        <input type="text" ng-model="form.description"/><br>
                        role_id:
                        <input type="text" ng-model="form.role_id"/><br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <!-- /. modal body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <!-- /. modal footer -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
