---
---

@import "{{ site.theme }}";
header {
    background-color: #993096;
    background-image: none;
}
header h1 {
    text-shadow: 0px 2px 0px #8B1585;
}
#banner {
    background-color: #C2DE45;
    border: 1px solid #AAC91F;
}
#banner .button {
    border: 1px solid #AAC91F;
    background-color: #DDF66E;
}
#banner .button:hover {
    background-color: #E8FA99;
}
code {
    font-family:Monaco,"DejaVu Sans Mono","Courier New",monospace;
    font-size:13px;
    color:#666;
    padding:0 5px 2px;	
    border:1px solid #ddd;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-clip:padding-box;
    text-shadow:none;
    background: #fff
}