<h2>Scenarios</h2>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<caption>Scenarios currently available</caption>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr style="cursor: pointer" ng-repeat="id in jcomparser.scenarioIds" ng-click="jcomparser.goToDetailsFrom(id);">
				<td>{{id}}</td>
				<td>{{jcomparser.scenarios['' + id]['label']}}</td>
			</tr>
			</a>
		</tbody>
	</table>
</div>
<div class="row" ng-repeat="id in jcomparser.scenarioIds">
	<div ></div>
</div>