<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="index.html#/">Dashboard</a>
                    </li>
                    <li class="active">
                        <span>eMail Task Configuration</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                eMail Task Configuration
            </h2>
       
        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">

<div class="row">
    <!-- filtering scenarios  -->
    <div style="animation-delay: 0.2s;" class="col-lg-12 animated-panel zoomIn">
            <div class="hpanel">
              <div class="panel-heading hbuilt">
                  <div class="pull-right">
                      <select class="form-control m-b" data-ng-options="k as v for (k, v) in mailC.scenarioIDs" ng-model="selectedScenario"
                         data-ng-change="mailC.getAllMailtaskForScenarioID(selectedScenario)">
                            <option value="">Select Scenario</option>
                      </select>
                      </span>
                  </div>
                  eMail Tasks
              </div> <!-- END: panel-heading hbuilt-->
              <div class="panel-body">
              <!-- if a scenario is selected -> display all available mail tasks within it -->
                 <div ng-if="selectedScenario">     
                      <div class="tabs-left">
                            <ul class="nav nav-tabs">
                                <li class="active" ng-repeat="(key, value) in mailC.emailtaskIDs">
                                    <a data-toggle="tab" ng-click="mailC.getDetails(value, selectedScenario)"> {{value}}</a>
                                </li>          
                            </ul>
                            <div class="tab-content ">
                                <span ng-show="mailC.emailtaskIDs.length"> 
                                  <h3>eMail Task - {{mailC.workingID}}</h3>
                                   <form name="myForm" ng-submit="mailC.submitMyForm()">
                                      <div class="responsive-table pull-left">
                                        <table class="table table-striped">
                                            <!--<thead>
                                            <tr>
                                                <th>Field</th>
                                                <th>Content</th>
                                            </tr>
                                            </thead>-->
                                            <tbody>
                                            <tr>
                                                <td>Receiver</td>
                                                <td><input type="text" ng-model="form.receiver" size="50"/></td>
                                            </tr>
                                            <tr>
                                                <td>Subject</td>
                                                <td><input type="text" ng-model="form.subject" size="50"/></td>
                                            </tr>
                                            <tr>
                                                <td>Message</td>
                                                <td><input type="text" ng-model="form.message" size="50"/></td>
                                            </tr>
                                            <tr>
                                                <td>Action</td>
                                                <td><button type="submit" data-toggle="modal" data-target="#update-success" class="btn btn-success btn-xs demo2">Change eMail Settings</button></td>
                                            </tbody>
                                        </table>
                                      </div>
                                      <br>
                                      
                                  </form>
                                 </span>
                                 <span ng-show="!mailC.emailtaskIDs.length"> 
                                      There are not any eMail Tasks within this scenario.
                                 </span>
                              </div> <!-- END: tab-content -->
                        </div> <!-- END: tabs-left -->
                    </div> 
                    <div ng-if="!selectedScenario"> 
                        Please select a scenario in the upper right corner.
                    </div>
                </div> <!-- END: panel body -->
                <div class="panel-footer"></div>
            </div> <!-- END: hpanel -->
        </div> <!-- END: col-lg-12 -->
        
</div> <!-- END: row -->





<!-- ___________________________ modals ___________________________ -->

<!-- 1. modal for editing a mail tasks -->
<div id="{{'editMailConfig' + id}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Mail Config of {{mailC.workingID}}</h4>
            </div>
            <div class="modal-body">
                <form name="myForm" ng-submit="mailC.submitMyForm()">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Field</th>
                            <th>Content</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Receiver</td>
                            <td><input type="text" ng-model="form.receiver" size="50"/></td>
                        </tr>
                        <tr>
                            <td>Subject</td>
                            <td><input type="text" ng-model="form.subject" size="50"/></td>
                        </tr>
                        <tr>
                            <td>Message</td>
                            <td><input type="text" ng-model="form.message" size="50"/></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-default demo2">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 2. modal for showing successful update -->
<div id="update-success" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Successful</h4>
            </div>
            <div class="modal-body">
                <div style="display: block;" class="icon success animate"> <span class="line tip animateSuccessTip"></span> <span class="line long animateSuccessLong"></span> <div class="placeholder"></div> <div class="fix"></div> </div>
           		The Mail Task {{mailC.workingID}} was updated successfully.<br><button class="btn btn-success btn-circle" type="button"><i class="fa fa-check"></i></button>
	   </div>
		
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(function () {
        $('.demo2').click(function(){
            swal({
                title: "Good job!",
                text: "You clicked the button!",
                type: "success"
            });
        });

    });
</script>
