<!-- Creates Menu Entries for the Scenarios -->
<!--<a id="headingOne" href="#scenarioEntries" data-toggle="collapse">-->
<a id="headingOne" href="#" data-toggle="collapse">
	<span class="nav-label">Scenarios</span>
	<span class="fa arrow"></span>
</a>
<ul ng-controller="ScenarioController as scenarioCtrl" id="scenarioEntries" class="nav nav-second-level collapse">
	<li ng-repeat="(key, value) in scenarioCtrl.scenarios['labels']">
		<a ng-href="#/scenario/{{key}}">{{key + ': ' + value}}</a>
	</li>
</ul>