<h2>Scenarios</h2>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<caption>Scenarios currently available</caption>
		Filter <input ng-model="searchText"/>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<!--<tr style="cursor: pointer" ng-repeat="id in scenarioCtrl.scenarioIds | filter:searchText" ng-click="scenarioCtrl.goToDetailsFrom(id);">-->
			<tr style="cursor: pointer" ng-repeat="(key, value) in scenarioCtrl.scenarios['labels']" ng-show="!searchText || value.indexOf(searchText) > -1" ng-click="scenarioCtrl.goToDetailsFrom(key);">
				<!--<li ng-if="scenarioCtrl.scenarios['' + id]['label'].match(searchText)">-->
					<td>{{key}}</td>
					<td>{{value}}</td>
				<!--</li>-->
			</tr>
			</a>
		</tbody>
	</table>
</div>

