<h3>Instances of {{instanceCtrl.getScenarioName()}}</h3>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<caption>Instances of {{instanceCtrl.getScenarioName()}} currently running</caption>
		Filter <input ng-model="searchText">
		<thead>
			<tr>
				<th>Instance #</th>
				<th>Process name</th>
			</tr>
		</thead>
		<tbody>
			<tr style="cursor: pointer" ng-repeat="(key, value) in instanceCtrl.instances track by $index | filter: {value['label']: searchText}" ng-click="instanceCtrl.goToDetailsFrom(key);">
				<td>{{key}}</td>
				<td>{{value['label']}}</td>
			</tr>
			</a>
		</tbody>
	</table>
</div>
