<h3>Scenario Instance {{instanceCtrl.instanceDetails['id']}}</h3>

<div class="row">
<div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 0.5s;">
    <div class="hpanel stats">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
            Dataobjects
        </div>
        <div class="panel-body list">
            <div class="responsive-table pull-left">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in instanceCtrl.instanceDetails.dataobjects['results'] track by $index">
                        <td>{{value['label']}}</td>
                        <td>{{value['state']}}</td>
                    </tr>
                        </a>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>

<div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 1.5s;">
    <div class="hpanel stats">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
            ToDos
        </div>
        <div class="panel-body list">
            <div class="animate-switch-container" ng-switch on="todoSelection">
                     <div class="animate-switch" ng-switch-default>
                    <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 0.5s;">
                        <div class="responsive-table project-list">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in instanceCtrl.instanceDetails.activities['running']['activities']  track by $index">
                                        <td>{{value['label']}}</td>
                                        <td><a type="button" data-toggle="modal" ng-click="instanceCtrl.getOutputAndOutputsets(value['id'])" data-target="{{'#modalTerminate' + value['id']}}"><i class="fa fa-check text-navy"></i></a></td>

                                    </tr>
                                    </a>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="animate-switch" ng-switch-when="completed">
                    <div class="responsive-table project-list">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, value) in instanceCtrl.instanceDetails.activities['terminated']['activities'] track by $index">
                                    <td>{{value['id']}}</td>
                                    <td>{{value['label']}}</td>
                                </tr>
                                </a>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            <div class="panel-footer">
            <select ng-model="todoSelection" ng-options="item for item in ['open','completed']"></select>
        </div>
       </div>
    </div>
    <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.5s;">
        <div class="hpanel stats">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                Unassigned Tasks
            </div>
            <div class="panel-body list">
                <ul aria-labelledby="enabledActivitiesMenu">
                    <li ng-repeat="(key, value) in instanceCtrl.instanceDetails.activities['ready']['activities']" role="presentation">
                        <a data-toggle="modal" data-target="{{'#modal' + value['id']}}" ng-click="instanceCtrl.handleReferencedActivities(value['id']);" tabindex="-1">{{value['label']}}</a>
                    </li>
                </ul>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>
  <div class="row">
    <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.5s;">
        <div class="hpanel stats">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                Document Activity
            </div>
            <div class="panel-body list">
                <div class="pull-right">
                    <select ng-model="logSelection" ng-options="item for item in ['activity','dataobject','attributes']"></select>
                </div>
                <div class="panel-title">Last Activity</div>
                <small class="fo">This is simple example</small>
                <div class="animate-switch-container" ng-switch on="logSelection">
                    <div class="animate-switch" ng-switch-default>
                        <div class="list-item-container">
                            <div ng-repeat="(key, value) in instanceCtrl.instanceDetails.activitylogs track by $index">
                            <div class="list-item">
                                <h3 class="no-margins text-success">{{value['cn.label']}}</h3>
                                <small>{{value['h.oldstate']}} -> {{value['h.newstate']}}</small>
                                <div class="pull-right font-bold">{{value['h.timestamp']}}<i class="fa fa-level-up text-success"></i></div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="animate-switch" ng-switch-when="dataobject">
                        <div class="list-item-container">
                            <div ng-repeat="(key, value) in instanceCtrl.instanceDetails.dataobjectlogs track by $index">
                                <div class="list-item">
                                <h3 class="no-margins text-success">{{value['do.name']}}</h3>
                                <small>{{value['oldstate_name']}} -> {{value['newstate_name']}}</small>
                                <div class="pull-right font-bold">{{value['h.timestamp']}}<i class="fa fa-level-up text-success"></i></div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--"h.scenarioinstance_id":1329,"da.name":"Attribut1","h.timestamp":"2015-05-04 11:32:08.0","h.id":3,"h.dataattributeinstance_id":150,"h.newvalue":"[9281]","h.oldvalue":"[9281]","do.name":"DO"}-->
                    <div class="animate-switch" ng-switch-when="attributes">
                        <div class="list-item-container">
                            <div ng-repeat="(key, value) in instanceCtrl.instanceDetails.dataobjectAttributelogs track by $index">
                                <div class="list-item">
                                    <h3 class="no-margins text-success">{{value['da.name']}}</h3>
                                    <small>{{value['h.oldvalue']}} -> {{value['h.newvalue']}}</small>
                                    <div class="pull-right font-bold">{{value['h.timestamp']}}<i class="fa fa-level-up text-success"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 0.5s;">
        <div class="hpanel stats">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Termination
            </div>
            <div class="panel-body list">
                <div class="responsive-table pull-left">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <!--<th>ID</th>-->
                            <th>Condition</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="(key, value) in instanceCtrl.scenario['terminationcondition']['conditions'] track by $index">
                            <!--<td>{{key}}</td>-->
                            <td>
                                <div ng-repeat="(key, value2) in value track by $index">
                                The dataobject "{{value2['data_object']}}" is in state "{{value2['state']}}".<br>
                                </div>
                            </td>
                        </tr>
                        </a>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>

<!--___________________________________ MODALS ___________________________________-->
<!-- modal for beginning an Activity-->
<div ng-repeat="(key, value) in instanceCtrl.instanceDetails.activities['ready']['activities']" id="{{'modal' + value['id']}}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Begin activity?</h4>
      </div>
      <div class="modal-body">
          <div ng-show="!instanceCtrl.scenario['activity'][value['id']]['references']['ids'].length">
                <p>Do you want to start Activity "{{value['label']}}"?</p>
          </div>
          <div ng-hide="!instanceCtrl.scenario['activity'][value['id']]['references']['ids'].length">
              <div class="responsive-table pull-left">
                  <table class="table table-striped">
                      <thead>
                      <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Characteristic</th>
                          <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>{{value['id']}}</td>
                          <td>{{value['label']}}</td>
                          <td>
                              <div ng-repeat="(key2, output) in instanceCtrl.activityOutput[value['id']] track by $index">
                                  <div ng-repeat="(key3, outputset) in instanceCtrl.scenario['outputsets'][output['id']] track by $index">
                                      "{{outputset['label']}}" in state "{{outputset['state']}}" <br>
                                  </div>
                              </div>
                          </td>
                          <td><button type="button" ng-click="instanceCtrl.beginActivity(value['id']);" data-dismiss="modal" class="btn btn-primary">Begin</button></td>
                      </tr>
                      <tr ng-repeat="(key, refActivity) in instanceCtrl.scenario['activity'][value['id']]['references']['activities'] track by $index">
                          <td>{{refActivity['id']}}</td>
                          <td>{{refActivity['label']}}</td>
                          <td>
                              <div ng-repeat="(key4, output2) in instanceCtrl.activityOutput[refActivity['id']] track by $index">
                                  <div ng-repeat="(key5, outputset2) in instanceCtrl.scenario['outputsets'][output2['id']] track by $index">
                                      "{{outputset2['label']}}" in state "{{outputset2['state']}}"<br>
                                  </div>
                              </div>
                          </td>
                          <td><button type="button" ng-click="instanceCtrl.beginActivity(refActivity['id']);" data-dismiss="modal" class="btn btn-primary">Begin</button></td>
                      </tr>
                      </tbody>
                  </table>
              </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <div ng-hide="instanceCtrl.scenario['activity'][value['id']]['references']['ids'].length">
              <button type="button" ng-click="instanceCtrl.beginActivity(value['id']);" data-dismiss="modal" class="btn btn-primary">Begin</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- A model as a Dialog for terminating an Activity -->
<div ng-repeat="(key, value) in instanceCtrl.instanceDetails.activities['running']['activities']  track by $index" id="{{'modalTerminate' + value['id']}}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Terminate activity?</h4>
      </div>
      <div class="modal-body">
          <!--value['id'] = {{value['id']}}<br>-->
          <!--instanceCtrl.activityOutput[{{value['id']}}] = {{instanceCtrl.activityOutput[value['id']]}}<br>-->
          <div ng-repeat="(key, output) in instanceCtrl.activityOutput[value['id']] track by $index">
              <div ng-repeat="(key2, outputset) in instanceCtrl.scenario['outputsets'][output['id']] track by $index">
                  <b>"{{outputset['label']}}" in state "{{outputset['state']}}"</b>
                  <br>
                  <form name="myForm" ng-submit="instanceCtrl.submitAttributeForm()">
                  <div ng-repeat="(key3, attributeConfiguration) in outputset['attributeConfiguration'] track by $index">
                      {{attributeConfiguration['name']}} <input type="text" name="{{attributeConfiguration['name']}}" [ng-value="attributeConfiguration['value']"]>><br>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button></form>
                  <hr>
              </div>
          </div>
          <br><br><br>
        <p>Do you really want to terminate Activity "{{value['label']}}"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="instanceCtrl.terminateActivity(value['id']);" data-dismiss="modal" class="btn btn-danger">Terminate</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
