<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="index.html#/">Dashboard</a>
                    </li>
                    <li class="active">
                        <span>User Overview</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                User Overview
            </h2>
       
        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">

<div class="row">
    <div class="pull-right">
        <input ng-model="searchText" placeholder="SearchTerm">
    </div>
</div>
<div class="row">
    <div style="cursor: pointer" ng-repeat="(key, value) in userMgmtC.Details['user']"
         ng-show="!searchText || value['username'].indexOf(searchText) > -1">
        <div style="animation-delay: 0.2s;" class="col-lg-3 animated-panel zoomIn">
            <div class="hpanel hgreen contact-panel">
                <div class="panel-body">
                    <span class="label label-success pull-right">NEW</span>
                    <img alt="avatar" class="img-circle m-b" src="asset/images/profile.jpg">

                    <h3><a href=""> {{value['username']}} </a></h3>

                    <div class="text-muted font-bold m-b-xs">{{value['description']}}</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices
                        accumsan.<br>
                        Role Id: {{value['role_id']}}
                    </p>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div style="animation-delay: 0.3s;" class="col-md-4 border-right animated-panel zoomIn">
                            <div class="contact-stat"><span>Projects: </span> <strong>200</strong></div>
                        </div>
                        <div style="animation-delay: 0.4s;" class="col-md-4 border-right animated-panel zoomIn">
                            <div class="contact-stat"><span>Messages: </span> <strong>300</strong></div>
                        </div>
                        <div style="animation-delay: 0.5s;" class="col-md-4 animated-panel zoomIn">
                            <div class="contact-stat"><span>Views: </span> <strong>400</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
