<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- SERVLET: FileUpload -->
    <!--
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>de.uni_potsdam.hpi.bpt.bp2014.jcomparser.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <jsp-file>/upload.jsp</jsp-file>
    </servlet>
    -->

    <!-- SERVLET: Jengine -->
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
				io.swagger.v3.jaxrs2.integration.resources,
                de.hpi.bpt.chimera
            </param-value>
        </init-param>
		<init-param>
		  <param-name>openApi.configuration.location</param-name>
		  <param-value>openapi-configuration.json</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <!-- SERVLET: REST -->
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- SERVLET: FileUpload -->
    <!--
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/done</url-pattern>
    </servlet-mapping>
    -->

    <servlet>
        <servlet-name>SseServlet</servlet-name>
        <servlet-class>de.hpi.bpt.chimera.execution.controlnodes.event.eventhandling.SseNotifier</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>SseServlet</servlet-name>
        <url-pattern>/sse</url-pattern>
    </servlet-mapping>


    <!-- DATABASE: Config  (JUserManagement) -->
    <env-entry>
        <env-entry-name>username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>juser</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>1234</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>jdbc:mysql://127.0.0.1:3306/JUserManagement</env-entry-value>
    </env-entry>

    <!-- CORS Header -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
