<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


     <!-- SERVLET: JUserManagement -->
   <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>de.uni_potsdam.hpi.bpt.bp2014</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- SERVLET: REST -->
   <servlet-mapping>
      <servlet-name>Jersey Web Application</servlet-name>
      <url-pattern>/api/*</url-pattern>
   </servlet-mapping>

<!-- DATABASE: Config -->
    <env-entry>
        <env-entry-name>username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>juser</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>1234</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>jdbc:mysql://127.0.0.1:3306/JUserManagement</env-entry-value>
    </env-entry>
</web-app>
