<div class="row">
    <!-- filtering scenarios  -->
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <select class="form-control"
                    		data-ng-options="scenario.id as scenario.name for scenario in mailC.scenarioIDs "
                    		ng-model="selectedScenario"
                            data-ng-change="mailC.getAllMailtaskForScenarioID(selectedScenario)">
                        <option value="">Select Scenario</option>
                    </select>
                    </span>
                    <!-- /. data-ng-options="k as v for (k, v) in mailC.scenarioIDs" -->
                </div>
                <p>E-Mail Tasks</p>
            </div>

            <div class="panel-body">
                <!-- if a scenario is selected -> display all available mail tasks within it -->
                <div ng-if="selectedScenario">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active" ng-repeat="emailActivitiy in mailC.emailtaskIDs">
                                <a data-toggle="tab" ng-click="mailC.getDetails(emailActivitiy.id)">
                                    {{emailActivitiy.label}}</a>
                            </li>
                        </ul>
                        <!-- /. nav tabs options -->
                        <div class="tab-content ">
                                <span ng-show="mailC.emailtaskIDs.length">
                                  <h3>eMail Task - {{mailC.workingID}}</h3>
                                   <form name="myForm" ng-submit="mailC.submitMyForm()">
                                       <div class="pull-left">
                                           <table class="table table-striped">
                                               <!--<thead>
                                               <tr>
                                                   <th>Field</th>
                                                   <th>Content</th>
                                               </tr>
                                               </thead>-->
                                               <tbody>
                                               <tr>
                                                   <td>Receiver</td>
                                                   <td><input type="text" ng-model="form.receiver" size="50"/></td>
                                               </tr>
                                               <tr>
                                                   <td>Subject</td>
                                                   <td><input type="text" ng-model="form.subject" size="50"/></td>
                                               </tr>
                                               <tr>
                                                   <td>Message</td>
                                                   <td><input type="text" ng-model="form.message" size="50"/></td>
                                               </tr>
                                               <tr>
                                                   <td>Action</td>
                                                   <td>
                                                       <button type="submit" data-toggle="modal"
                                                               data-target="#update-success"
                                                               class="btn btn-success btn-xs">Change eMail
                                                           Settings
                                                       </button>
                                                   </td>
                                               </tbody>
                                           </table>
                                       </div>
                                       <br>

                                   </form>
                                 </span>
                            <!-- /.  ng-show="mailC.emailtaskIDs.length" -->
                            <span ng-show="!mailC.emailtaskIDs.length">
                                     There are no E-Mail Tasks within this scenario.
                                </span>
                        </div>
                        <!-- /. tab-content -->
                    </div>
                    <!-- /. tabs-left -->
                </div>
                <div ng-if="!selectedScenario">
                    Please select a scenario in the upper right corner.
                </div>
            </div>
            <!-- /. panel body -->
        </div>
    </div>
    <!-- /. col-lg-12 -->
</div>
<!-- /. row -->